// variables
baseFontSize = 12px
sansFontFamily = "Helvetica Neue", Helvetica, Arial, sans-serif;
serifFontFamily = Georgia, "Times New Roman", Times, serif;
monoFontFamily = Menlo, Monaco, Consolas, "Courier New", monospace;
baseFontFamily = "Microsoft Yahei", thoma, arial

// link colors

// Dropdowns
dropdownBackground = #f8f8f8
dropdownBorder = none
dropdownLinkColor = #7b7b7b
dropdownLinkColorHover = dropdownLinkColor
dropdownLinkBackgroundHover = #eee
dropdownDividerTop = #e7e7e7
dropdownDividerBottom = #ebebeb

containerWidth = 960px
topbarHeight = 60px
sidebarWidth = 185px
mainWidth = containerWidth - sidebarWidth


bgColor = #f0f0f0
mainColor = #AA1E32
lightMainColor = #ff8c8c
subColor = #3CAA8C
grayColor = #636363
lightGrayColor = #959595
darkGrayColor = #3b3b3b

// COMPONENT VARIABLES
// --------------------------------------------------

// Z-index master list
// -------------------------
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
zindexDropdown = 1000
zindexPopover = 1010
zindexTooltip = 1020
zindexFixedNavbar = 1030
zindexModalBackdrop = 1040
zindexModal = 1050

// Forms
// --------------
inputBorder = #c8c8c8
placeholderText = lightGrayColor

// Form states and alerts
errorText = #A91E32
